html {
  background-color: #c9b5ab;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

nav {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  color: #8f2440;
  font-size: 1.125rem;
  line-height: 1.5;
}

nav ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  text-decoration: none;
  color: #3f1622;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
  font-size: 1.125rem;
  color: #222;
}

.timedate {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 1.125rem;
}

footer div p {
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

blockquote {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.5;
}

blockquote cite {
  font-size: .8rem;
}

.cvlist {
  list-style-type: lower-greek;
  line-height: 1.5;
}

dt {
  font-weight: bold;
  line-height: 1.5;
}

dd {
  line-height: 1.5;
}

h2 + p {
  font-style: italic;
}

ul {
  list-style-type: circle;
}
